// RESET
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



// overflow, font
body,
html {

    overflow: hidden;
    font-family: 'Poppins', sans-serif;

}



// h1
h1 {

    text-transform: uppercase;
    font-size: 4rem;

}



// wallpaper and txt
.bg-image {

    width: 100vw;
    height: 100vh;

    background: url('../image/north.jpg') no-repeat center/cover;
    filter: saturate(150%) blur(2px) contrast(80%); 

    display: flex;
    justify-content: center;
    align-items: center;

    & em {

        display: inline-block;
        transform: rotate(90deg);
        height: 25px;

        position: relative;
        left: 5px;
    }

}

.txt {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
       
    height: 200px;
    width: 100%;

    position: relative;
    top: -700px;

    & h1,
    p {

        text-align: center;

    }
    
    & div {

        padding: 15px 100px;
        border: 1px solid rgba(245, 245, 245, 0.596);
        border-radius: 5px;

        color: whitesmoke;
        background-color: rgba(0, 0, 0, 0.4);
        
        text-shadow: 0 0 10px black;
    
        box-shadow: 1px 1px 20px 0px rgba(245, 245, 245, 0.692);

    }    


}



// JS


